imdb/imdb-r.txt
*.exe
*.dll
*.pdb
*.cache
*.cache
*.exe
imdb/actor.csv
imdb/imdb-small.txt
imdb/movie.csv
imdb/result.csv
imdb/result.txt
imdb/role.csv
imdb/segment_1-15000.csv
imdb/segments/segment_0.csv
imdb/segments/segment_1.csv
imdb/segments/segment_fake.csv
imdb/segments/segment_sizeOf100.csv
imdb/select.sql
imdb/spielberg.csv
imdb/segments/all.csv
imdb/segments/segment_0-2.csv
imdb/segments/segment_0-4.csv
imdb/segments/segment_1-2.csv
imdb/segments/segment_1-4.csv
imdb/segments/segment_100.csv
imdb/segments/segment_2-4.csv
imdb/segments/segment_2.csv
imdb/segments/segment_3-4.csv
imdb/segments/segment_9.csv
results/~$results.xlsx
imdb/segments/actor80307.csv
imdb/segments/dsegment_7-10
imdb/segments/dsegment_7-10.csv
imdb/segments/segment_87-100.csv
report/Experiments.log
